body {
	font-size: 15px;
	overflow-x: hidden;
}
header {
	height: 200px;
	vertical-align: middle;
}
h1 {
	font-size: 28px;
}
h2 {
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: 1.2pt;
	color: #F6C9AD;
	font-size: 23px;
}
h3 {
	font-weight: bold;
}
a:active, a:link, a:visited, a:hover {
	color: white;
}
footer .row {
	height: 60px;
}
footer .row {
	border-top: 1px solid #fff;
}
#main-section { 
	min-height: calc(100vh - 280px);
}
@media (min-width: 768px) {
	#name {
		text-align: right !important;
		padding-top: 125px !important;
	}
	#name h1 {
		font-size: 28px !important;
	}
}
#name {
	padding-top: 70px;
	padding-right: 50px;
	text-align: center;
}
#name h1 {
	font-size: 36px;
	line-height: 1em;
}
#hexagon {
	margin-top: 40px;
	width: 200px;
	height: 200px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: #b05555;
	border-left :4px solid white;
}
#name-letter {
	font-family: Parisienne, sans-serif;
	position: absolute;
	font-size: 100px;
	margin-left: 25px;
	margin-top: 95px;
}
#vertical-line {
	content: "";
	position: absolute;
	width: 4px;
	background-color: #fff;
	right: calc(50% - 4px);
	top: 150px;
	height: 1000px;
	z-index: 999;
}
#age {
	padding-top: 125px;
	padding-left: 20px;
	padding-right: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 50px;
}
@media (min-width: 990px) {
	#about-me, #education, #experience, #skills {
		text-align: right;
	}
}
#about-me, #education, #experience, #skills {
	padding-right: 50px;
	padding-left: 50px;
}
#projects, #contact {
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
}
.skill-bar {
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 6px;
	background-color: white;
	border-radius: 5px 5px;
	border: 3px solid white;
}
