/******************************/
/******** STYLES RESET ********/
/******************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box !important;
}


/**********************************/
/********* GENERAL STYLES *********/
/**********************************/


a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
body {
	margin: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.align-middle {
	text-align: center;
}
.justified {
	text-align: justify;
}
footer {
	position: relative;
	clear: both;
	height: 135px;
}


/*************************/
/********* FORMS *********/
/*************************/


form {
	font-size: 15px;
	color: #555;
}
input[type="date"] {
	background-color: #fff;
}
input, textarea, button {
	border: 1px solid #ddd;
	resize: none;
	padding: 11px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	transition: all 300ms;
}
input[type=submit], input[type=reset], select {
	background-color: #e7e7e7;
	border: 1px solid #e7e7e7;
	padding: 10px;
	text-align: center;
}
select, option {
	padding: 5px;
}
input:not([type=submit]):not([type=reset]):focus, textarea:focus {
	border: 1px solid;
	border-color: rgba(0, 138, 210, 0.5);
	background-color: #f5f5f5;
}
input[type=submit]:hover, input[type=reset]:hover, button:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}
button.blue-button, input[type=submit].blue-button {
	background-color: #008ae6;
	color: #fff;
}
button.blue-button:hover, input[type=submit].blue-button:hover {
	background-color: #0099ff;
	color: #fff;
}
button.green-button, input[type=submit].green-button {
	background-color: #009d66;
	color: #fff;
}
button.green-button:hover, input[type=submit].green-button:hover {
	background-color: #00b359;
	color: #fff;
}
input[type=color] {
	border: 0px;
	width: 60px;
	height: 30px;
	padding: 5px 0px;
	background: rgba(255, 255, 255, 0);
}
form fieldset {
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 15px;
	margin: 5px;
	border-radius: 10px;
}
form fieldset legend {
	font-size: 1.5em;
	margin-left: 10%;
}
form fieldset.no-border {
	border: none;
}
/* Allows inputs to have icons */
.ico-input {
	display: inline-block;
    position: relative;
}
.ico-input::before {
	font-family: "IcoMoon-Free" !important;
	font-size: 20px;
    position: absolute;
    left: 10px;
    line-height: 2;
}
.ico-input input {
	padding-left: 35px !important;
}


/*************************/
/********* TABLES ********/
/*************************/


table {
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-collapse: separate;
	width: 75%;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
}
table caption, td, th {
	padding: 0.5em;
}
table th {
	font-size: 1.1em;
	background-color: #666;
	color: #fff;
}
table tbody tr:nth-child(even) td {
	background-color: rgba(0, 0, 0, 0.1);
}
table.rounded-borders { 
	border-radius: 30px;
}
table.rounded-borders thead tr:first-child th:first-child { border-radius: 30px 0px 0px 0px; }
table.rounded-borders thead tr:first-child th:last-child { border-radius: 0px 30px 0px 0px; }
table.rounded-borders tbody tr:last-child td:first-child { border-bottom-left-radius: 30px; }
table.rounded-borders tbody tr:last-child td:last-child { border-bottom-right-radius: 30px; }
table.cell-borders tr:nth-child(odd) td {
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1);
}
table.cell-borders tr:nth-child(even) td:not(:first-child):not(:last-child), table.cell-borders tr th:not(:first-child):not(:last-child) {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
table.cell-borders tr:nth-child(even) td:first-child, table.cell-borders tr th:first-child {
	border-right: 1px solid #fff;
}
table.cell-borders tr:nth-child(even) td:last-child, table.cell-borders tr th:last-child {
	border-left: 1px solid #fff;
}


/**********************************************************************/
/********* COLLAPSABLE NAV (for small and extra small screens) ********/
/**********************************************************************/

header.navigation-header {
	position: relative;
	color: #fff;
	height: 80px;
}
header.navigation-header .row:first-child {
	height: 80px;
}
header.navigation-header.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
/* Fits the width of the fixed header when viewport width >= 1200px */
@media (min-width: 1200px) {
	body:not([class*="full-viewport"]) header.navigation-header.fixed-top > *.row {
		width: 1170px;
		left: 50%;
		margin-left: -585px;
		z-index: 5;
	}
}
nav ul {
	display: flex;
	justify-content: space-between;
	position: static;
}
@media (max-width: 989px) {
	header.navigation-header nav.collapsable-nav {
		position: static;
		cursor: pointer;
		height: 80px;
	}
	header.navigation-header nav.collapsable-nav::before {
		font-family: "IcoMoon-Free" !important;
		font-size: 30px;
		content: "\e9bd";
		position: absolute;
		top: 25px;
		border: 0px;
	}
	header.navigation-header nav.collapsable-nav.showing-content::before {
		content: "\ea3a";
	}
	header.navigation-header nav.collapsable-nav ul {
		text-align: center;
		position: absolute;
		width: 100%;
		left: 0;
		top: 80px;
		z-index: 10;
		background-color: #456;
		display: inline-block;
		max-height: calc(100vh - 80px);
		overflow: auto;
	}
	header.navigation-header nav.collapsable-nav:not([class*=showing-content]) ul {
		max-height: 0;
		visibility: hidden;
		transition-property: all;
		transition-duration: 2s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	}
	header.navigation-header nav.collapsable-nav.showing-content ul {
		transition-property: all;
		transition-duration: 2.5s;
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	}
	header.navigation-header nav.collapsable-nav ul li {
		padding: 15px;
	}
	header.navigation-header nav.collapsable-nav.showing-content li:hover {
		background-color: #345;
	}
}


/***********************/
/******** LISTS ********/
/***********************/


/* Allow to set icons (from iconmoon) for "ul li" */
ul.ico-list li::before {
	font-family: "IcoMoon-Free" !important;
	padding-right: 5px;
}
li {
	padding: 3px;
}


/*****************************/
/******** GRID SYSTEM ********/
/*****************************/


body.full-viewport {
	float: left;
	width: 100%;
}
* {
  overflow-wrap: break-word;
}
section.full-viewport, footer.full-viewport {
	position: relative;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}
header.full-viewport {
	position: relative;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}
.row {
	position: relative;
	float: left;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: justify;
	/* Borders to debug code */
	/* border: 1px solid blue; */
}
.row.v-align-middle {
	align-items: center;
}
*[class*=hide] {
	padding: 0px !important;
}
/* Select all types of columns */
*[class*=xsmall-], *[class*=small-], *[class*=medium-], *[class*=large-], *[class*=xlarge-] {
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	padding: 15px;
	/* Borders to debug code */
	/* border: 1px solid red; */
}
/* A container to lock the width of the elements based on the screeen size */
@media (max-width: 767px) {
	.container {
		position: relative;
		width: 100%;
		padding: 0px;
	}
}
@media (min-width: 768px) and (max-width: 989px) {
	.container {
		position: relative;
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
}
@media (min-width: 990px) and (max-width: 1199px) {
	.container {
		position: relative;
		width: 970px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
}
@media (min-width: 1200px) and (max-width: 1599px) {
	.container {
		position: relative;
		width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
}
@media (min-width: 1600px) {
	.container {
		position: relative;
		width: 1560px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
}
/* Hide some element in different viewports */
@media (max-width: 767px) {
	.xsmall-hide {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 989px) {
	.small-hide {
		display: none;
	}
}
@media (min-width: 990px) and (max-width: 1199px) {
	.medium-hide {
		display: none;
	}
}
@media (min-width: 1200px) and (max-width: 1599px) {
	.large-hide {
		display: none;
	}
}
@media (min-width: 1600px) {
	.xlarge-hide {
		display: none;
	}
}
/* Extra small screens */
@media (max-width: 767px) {
	.xsmall-1 {
		width: 8.33%;
	}
	.xsmall-2 {
		width: 16.66%;
	}
	.xsmall-3 {
		width: 25%;
	}
	.xsmall-4 {
		width: 33.33%;
	}
	.xsmall-5 {
		width: 41.66%;
	}
	.xsmall-6 {
		width: 50%;
	}
	.xsmall-7 {
		width: 58.33%;
	}
	.xsmall-8 {
		width: 66.66%;
	}
	.xsmall-9 {
		width: 75%;
	}
	.xsmall-10 {
		width: 83.33%;
	}
	.xsmall-11 {
		width: 91.66%;
	}
	.xsmall-12 {
		width: 100%;
	}
	/* Column offset */
	.xsmall-offset-2 {
		margin-left: 8.33%;
	}
	.xsmall-offset-3 {
		margin-left: 16.66%;
	}
	.xsmall-offset-4 {
		margin-left: 25%;
	}
	.xsmall-offset-5 {
		margin-left: 33.33%;
	}
	.xsmall-offset-6 {
		margin-left: 41.66%;
	}
	.xsmall-offset-7 {
		margin-left: 50%;
	}
	.xsmall-offset-8 {
		margin-left: 58.33%;
	}
	.xsmall-offset-9 {
		margin-left: 66.66%;
	}
	.xsmall-offset-10 {
		margin-left: 75%;
	}
	.xsmall-offset-11 {
		margin-left: 83.33%;
	}
	.medium-offset-12 {
		margin-left: 91.66%;
	}
}
/* Small screens */
@media (min-width: 768px) and (max-width: 989px) {
	body {
   		width: 750px;
  	}
	.small-1 {
		width: 8.33%;
	}
	.small-2 {
		width: 16.66%;
	}
	.small-3 {
		width: 25%;
	}
	.small-4 {
		width: 33.33%;
	}
	.small-5 {
		width: 41.66%;
	}
	.small-6 {
		width: 50%;
	}
	.small-7 {
		width: 58.33%;
	}
	.small-8 {
		width: 66.66%;
	}
	.small-9 {
		width: 75%;
	}
	.small-10 {
		width: 83.33%;
	}
	.small-11 {
		width: 91.66%;
	}
	.small-12 {
		width: 100%;
	}
	/* Column offset */
	.small-offset-2 {
		margin-left: 8.33%;
	}
	.small-offset-3 {
		margin-left: 16.66%;
	}
	.small-offset-4 {
		margin-left: 25%;
	}
	.small-offset-5 {
		margin-left: 33.33%;
	}
	.small-offset-6 {
		margin-left: 41.66%;
	}
	.small-offset-7 {
		margin-left: 50%;
	}
	.small-offset-8 {
		margin-left: 58.33%;
	}
	.small-offset-9 {
		margin-left: 66.66%;
	}
	.small-offset-10 {
		margin-left: 75%;
	}
	.small-offset-11 {
		margin-left: 83.33%;
	}
	.medium-offset-12 {
		margin-left: 91.66%;
	}
}
/* Medium screens */
@media (min-width: 990px) and (max-width: 1199px) {
	body {
		width: 970px;
	}
	.medium-1 {
		width: 8.33%;
	}
	.medium-2 {
		width: 16.66%;
	}
	.medium-3 {
		width: 25%;
	}
	.medium-4 {
		width: 33.33%;
	}
	.medium-5 {
		width: 41.66%;
	}
	.medium-6 {
		width: 50%;
	}
	.medium-7 {
		width: 58.33%;
	}
	.medium-8 {
		width: 66.66%;
	}
	.medium-9 {
		width: 75%;
	}
	.medium-10 {
		width: 83.33%;
	}
	.medium-11 {
		width: 91.66%;
	}
	.medium-12 {
		width: 100%;
	}
	/* Column offset */
 	.medium-offset-2 {
		margin-left: 8.33%;
	}
	.medium-offset-3 {
		margin-left: 16.66%;
	}
	.medium-offset-4 {
		margin-left: 25%;
	}
	.medium-offset-5 {
		margin-left: 33.33%;
	}
	.medium-offset-6 {
		margin-left: 41.66%;
	}
	.medium-offset-7 {
		margin-left: 50%;
	}
	.medium-offset-8 {
		margin-left: 58.33%;
	}
	.medium-offset-9 {
		margin-left: 66.66%;
	}
	.medium-offset-10 {
		margin-left: 75%;
	}
	.medium-offset-11 {
		margin-left: 83.33%;
	}
	.medium-offset-12 {
		margin-left: 91.66%;
	}
}
/* Large screens */
@media (min-width: 1200px) and (max-width: 1599px) {
	body {
		width: 1170px;
	}
	.large-1 {
		width: 8.33%;
	}
	.large-2 {
		width: 16.66%;
	}
	.large-3 {
		width: 25%;
	}
	.large-4 {
		width: 33.33%;
	}
	.large-5 {
		width: 41.66%;
	}
	.large-6 {
		width: 50%;
	}
	.large-7 {
		width: 58.33%;
	}
	.large-8 {
		width: 66.66%;
	}
	.large-9 {
		width: 75%;
	}
	.large-10 {
		width: 83.33%;
	}
	.large-11 {
		width: 91.66%;
	}
	.large-12 {
		width: 100%;
	}
	/* Column offset */
	.large-offset-2 {
		margin-left: 8.33%;
	}
	.large-offset-3 {
		margin-left: 16.66%;
	}
	.large-offset-4 {
		margin-left: 25%;
	}
	.large-offset-5 {
		margin-left: 33.33%;
	}
	.large-offset-6 {
		margin-left: 41.66%;
	}
	.large-offset-7 {
		margin-left: 50%;
	}
	.large-offset-8 {
		margin-left: 58.33%;
	}
	.large-offset-9 {
		margin-left: 66.66%;
	}
	.large-offset-10 {
		margin-left: 75%;
	}
	.large-offset-11 {
		margin-left: 83.33%;
	}
	.large-offset-12 {
		margin-left: 91.66%;
	}
}
/* Extra large screens */
@media (min-width: 1600px) {
	body {
		width: 1560px;
	}
	.xlarge-1 {
		width: 8.33%;
	}
	.xlarge-2 {
		width: 16.66%;
	}
	.xlarge-3 {
		width: 25%;
	}
	.xlarge-4 {
		width: 33.33%;
	}
	.xlarge-5 {
		width: 41.66%;
	}
	.xlarge-6 {
		width: 50%;
	}
	.xlarge-7 {
		width: 58.33%;
	}
	.xlarge-8 {
		width: 66.66%;
	}
	.xlarge-9 {
		width: 75%;
	}
	.xlarge-10 {
		width: 83.33%;
	}
	.xlarge-11 {
		width: 91.66%;
	}
	.xlarge-12 {
		width: 100%;
	}
	/* Column offset */
	.xlarge-offset-2 {
		margin-left: 8.33%;
	}
	.xlarge-offset-3 {
		margin-left: 16.66%;
	}
	.xlarge-offset-4 {
		margin-left: 25%;
	}
	.xlarge-offset-5 {
		margin-left: 33.33%;
	}
	.xlarge-offset-6 {
		margin-left: 41.66%;
	}
	.xlarge-offset-7 {
		margin-left: 50%;
	}
	.xlarge-offset-8 {
		margin-left: 58.33%;
	}
	.xlarge-offset-9 {
		margin-left: 66.66%;
	}
	.xlarge-offset-10 {
		margin-left: 75%;
	}
	.xlarge-offset-11 {
		margin-left: 83.33%;
	}
	.xlarge-offset-12 {
		margin-left: 91.66%;
	}
}


/********************************/
/******** ICONS SETTINGS ********/
/********************************/


@font-face {
    font-family: 'IcoMoon-Free';
    src:
        url('fonts/IcoMoon-Free.ttf?y4paid') format('truetype'),
        url('fonts/IcoMoon-Free.woff?y4paid') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home::before {
    content: "\e900";
}
.icon-home2::before {
    content: "\e901";
}
.icon-home3::before {
    content: "\e902";
}
.icon-office::before {
    content: "\e903";
}
.icon-newspaper::before {
    content: "\e904";
}
.icon-pencil::before {
    content: "\e905";
}
.icon-pencil2::before {
    content: "\e906";
}
.icon-quill::before {
    content: "\e907";
}
.icon-droplet::before {
    content: "\e90b";
}
.icon-image::before {
    content: "\e90d";
}
.icon-images::before {
    content: "\e90e";
}
.icon-camera::before {
    content: "\e90f";
}
.icon-headphones::before {
    content: "\e910";
}
.icon-music::before {
    content: "\e911";
}
.icon-play::before {
    content: "\e912";
}
.icon-dice::before {
    content: "\e915";
}
.icon-bullhorn::before {
    content: "\e91a";
}
.icon-connection::before {
    content: "\e91b";
}
.icon-podcast::before {
    content: "\e91c";
}
.icon-mic::before {
    content: "\e91e";
}
.icon-book::before {
    content: "\e91f";
}
.icon-books::before {
    content: "\e920";
}
.icon-library::before {
    content: "\e921";
}
.icon-file-text::before {
    content: "\e922";
}
.icon-profile::before {
    content: "\e923";
}
.icon-file-empty::before {
    content: "\e924";
}
.icon-files-empty::before {
    content: "\e925";
}
.icon-file-text2::before {
    content: "\e926";
}
.icon-file-picture::before {
    content: "\e927";
}
.icon-file-music::before {
    content: "\e928";
}
.icon-file-play::before {
    content: "\e929";
}
.icon-file-video::before {
    content: "\e92a";
}
.icon-file-zip::before {
    content: "\e92b";
}
.icon-copy::before {
    content: "\e92c";
}
.icon-paste::before {
    content: "\e92d";
}
.icon-stack::before {
    content: "\e92e";
}
.icon-folder::before {
    content: "\e92f";
}
.icon-folder-open::before {
    content: "\e930";
}
.icon-folder-plus::before {
    content: "\e931";
}
.icon-folder-minus::before {
    content: "\e932";
}
.icon-folder-download::before {
    content: "\e933";
}
.icon-folder-upload::before {
    content: "\e934";
}
.icon-price-tag::before {
    content: "\e935";
}
.icon-price-tags::before {
    content: "\e936";
}
.icon-barcode::before {
    content: "\e937";
}
.icon-qrcode::before {
    content: "\e938";
}
.icon-cart::before {
    content: "\e93a";
}
.icon-coin-dollar::before {
    content: "\e93b";
}
.icon-coin-euro::before {
    content: "\e93c";
}
.icon-coin-pound::before {
    content: "\e93d";
}
.icon-coin-yen::before {
    content: "\e93e";
}
.icon-credit-card::before {
    content: "\e93f";
}
.icon-calculator::before {
    content: "\e940";
}
.icon-phone::before {
    content: "\e942";
}
.icon-phone-hang-up::before {
    content: "\e943";
}
.icon-address-book::before {
    content: "\e944";
}
.icon-envelop::before {
    content: "\e945";
}
.icon-pushpin::before {
    content: "\e946";
}
.icon-location::before {
    content: "\e947";
}
.icon-location2::before {
    content: "\e948";
}
.icon-compass::before {
    content: "\e949";
}
.icon-compass2::before {
    content: "\e94a";
}
.icon-clock::before {
    content: "\e94e";
}
.icon-bell::before {
    content: "\e951";
}
.icon-stopwatch::before {
    content: "\e952";
}
.icon-calendar::before {
    content: "\e953";
}
.icon-printer::before {
    content: "\e954";
}
.icon-keyboard::before {
    content: "\e955";
}
.icon-display::before {
    content: "\e956";
}
.icon-laptop::before {
    content: "\e957";
}
.icon-mobile::before {
    content: "\e958";
}
.icon-mobile2::before {
    content: "\e959";
}
.icon-tablet::before {
    content: "\e95a";
}
.icon-tv::before {
    content: "\e95b";
}
.icon-box-add::before {
    content: "\e95e";
}
.icon-box-remove::before {
    content: "\e95f";
}
.icon-download::before {
    content: "\e960";
}
.icon-upload::before {
    content: "\e961";
}
.icon-floppy-disk::before {
    content: "\e962";
}
.icon-drive::before {
    content: "\e963";
}
.icon-database::before {
    content: "\e964";
}
.icon-bubble::before {
    content: "\e96b";
}
.icon-bubbles::before {
    content: "\e96c";
}
.icon-bubbles2::before {
    content: "\e96d";
}
.icon-bubble2::before {
    content: "\e96e";
}
.icon-bubbles3::before {
    content: "\e96f";
}
.icon-bubbles4::before {
    content: "\e970";
}
.icon-user::before {
    content: "\e971";
}
.icon-users::before {
    content: "\e972";
}
.icon-user-plus::before {
    content: "\e973";
}
.icon-user-minus::before {
    content: "\e974";
}
.icon-user-check::before {
    content: "\e975";
}
.icon-user-tie::before {
    content: "\e976";
}
.icon-quotes-left::before {
    content: "\e977";
}
.icon-quotes-right::before {
    content: "\e978";
}
.icon-hour-glass::before {
    content: "\e979";
}
.icon-spinner::before {
    content: "\e97a";
}
.icon-spinner2::before {
    content: "\e97b";
}
.icon-spinner3::before {
    content: "\e97c";
}
.icon-spinner5::before {
    content: "\e97e";
}
.icon-spinner6::before {
    content: "\e97f";
}
.icon-spinner7::before {
    content: "\e980";
}
.icon-spinner8::before {
    content: "\e981";
}
.icon-spinner9::before {
    content: "\e982";
}
.icon-spinner10::before {
    content: "\e983";
}
.icon-search::before {
    content: "\e986";
}
.icon-zoom-in::before {
    content: "\e987";
}
.icon-zoom-out::before {
    content: "\e988";
}
.icon-enlarge::before {
    content: "\e989";
}
.icon-shrink::before {
    content: "\e98a";
}
.icon-enlarge2::before {
    content: "\e98b";
}
.icon-shrink2::before {
    content: "\e98c";
}
.icon-key::before {
    content: "\e98d";
}
.icon-key2::before {
    content: "\e98e";
}
.icon-lock::before {
    content: "\e98f";
}
.icon-unlocked::before {
    content: "\e990";
}
.icon-wrench::before {
    content: "\e991";
}
.icon-equalizer::before {
    content: "\e992";
}
.icon-equalizer2::before {
    content: "\e993";
}
.icon-cog::before {
    content: "\e994";
}
.icon-cogs::before {
    content: "\e995";
}
.icon-hammer::before {
    content: "\e996";
}
.icon-aid-kit::before {
    content: "\e998";
}
.icon-pie-chart::before {
    content: "\e99a";
}
.icon-stats-dots::before {
    content: "\e99b";
}
.icon-stats-bars::before {
    content: "\e99c";
}
.icon-stats-bars2::before {
    content: "\e99d";
}
.icon-trophy::before {
    content: "\e99e";
}
.icon-leaf::before {
    content: "\e9a4";
}
.icon-meter::before {
    content: "\e9a6";
}
.icon-hammer2::before {
    content: "\e9a8";
}
.icon-fire::before {
    content: "\e9a9";
}
.icon-lab::before {
    content: "\e9aa";
}
.icon-magnet::before {
    content: "\e9ab";
}
.icon-bin::before {
    content: "\e9ac";
}
.icon-bin2::before {
    content: "\e9ad";
}
.icon-briefcase::before {
    content: "\e9ae";
}
.icon-airplane::before {
    content: "\e9af";
}
.icon-shield::before {
    content: "\e9b4";
}
.icon-power::before {
    content: "\e9b5";
}
.icon-switch::before {
    content: "\e9b6";
}
.icon-power-cord::before {
    content: "\e9b7";
}
.icon-clipboard::before {
    content: "\e9b8";
}
.icon-list-numbered::before {
    content: "\e9b9";
}
.icon-list::before {
    content: "\e9ba";
}
.icon-list2::before {
    content: "\e9bb";
}
.icon-tree::before {
    content: "\e9bc";
}
.icon-menu::before {
    content: "\e9bd";
}
.icon-menu2::before {
    content: "\e9be";
}
.icon-menu3::before {
    content: "\e9bf";
}
.icon-menu4::before {
    content: "\e9c0";
}
.icon-cloud::before {
    content: "\e9c1";
}
.icon-cloud-download::before {
    content: "\e9c2";
}
.icon-cloud-upload::before {
    content: "\e9c3";
}
.icon-cloud-check::before {
    content: "\e9c4";
}
.icon-download2::before {
    content: "\e9c5";
}
.icon-upload2::before {
    content: "\e9c6";
}
.icon-download3::before {
    content: "\e9c7";
}
.icon-upload3::before {
    content: "\e9c8";
}
.icon-sphere::before {
    content: "\e9c9";
}
.icon-earth::before {
    content: "\e9ca";
}
.icon-link::before {
    content: "\e9cb";
}
.icon-flag::before {
    content: "\e9cc";
}
.icon-attachment::before {
    content: "\e9cd";
}
.icon-star-empty::before {
    content: "\e9d7";
}
.icon-warning::before {
    content: "\ea07";
}
.icon-notification::before {
    content: "\ea08";
}
.icon-question::before {
    content: "\ea09";
}
.icon-plus::before {
    content: "\ea0a";
}
.icon-minus::before {
    content: "\ea0b";
}
.icon-cancel-circle::before {
    content: "\ea0d";
}
.icon-blocked::before {
    content: "\ea0e";
}
.icon-cross::before {
    content: "\ea0f";
}
.icon-checkmark::before {
    content: "\ea10";
}
.icon-checkmark2::before {
    content: "\ea11";
}
.icon-spell-check::before {
    content: "\ea12";
}
.icon-enter::before {
    content: "\ea13";
}
.icon-exit::before {
    content: "\ea14";
}
.icon-play2::before {
    content: "\ea15";
}
.icon-pause::before {
    content: "\ea16";
}
.icon-stop::before {
    content: "\ea17";
}
.icon-previous::before {
    content: "\ea18";
}
.icon-next::before {
    content: "\ea19";
}
.icon-backward::before {
    content: "\ea1a";
}
.icon-forward2::before {
    content: "\ea1b";
}
.icon-backward2::before {
    content: "\ea1f";
}
.icon-forward3::before {
    content: "\ea20";
}
.icon-first::before {
    content: "\ea21";
}
.icon-last::before {
    content: "\ea22";
}
.icon-previous2::before {
    content: "\ea23";
}
.icon-next2::before {
    content: "\ea24";
}
.icon-volume-low::before {
    content: "\ea28";
}
.icon-volume-mute::before {
    content: "\ea29";
}
.icon-volume-mute2::before {
    content: "\ea2a";
}
.icon-volume-increase::before {
    content: "\ea2b";
}
.icon-volume-decrease::before {
    content: "\ea2c";
}
.icon-loop2::before {
    content: "\ea2e";
}
.icon-arrow-up-left::before {
    content: "\ea31";
}
.icon-arrow-up::before {
    content: "\ea32";
}
.icon-arrow-up-right::before {
    content: "\ea33";
}
.icon-arrow-right::before {
    content: "\ea34";
}
.icon-arrow-down-right::before {
    content: "\ea35";
}
.icon-arrow-down::before {
    content: "\ea36";
}
.icon-arrow-down-left::before {
    content: "\ea37";
}
.icon-arrow-left::before {
    content: "\ea38";
}
.icon-arrow-up-left2::before {
    content: "\ea39";
}
.icon-arrow-up2::before {
    content: "\ea3a";
}
.icon-arrow-up-right2::before {
    content: "\ea3b";
}
.icon-arrow-right2::before {
    content: "\ea3c";
}
.icon-arrow-down-right2::before {
    content: "\ea3d";
}
.icon-arrow-down2::before {
    content: "\ea3e";
}
.icon-arrow-down-left2::before {
    content: "\ea3f";
}
.icon-arrow-left2::before {
    content: "\ea40";
}
.icon-circle-up::before {
    content: "\ea41";
}
.icon-circle-right::before {
    content: "\ea42";
}
.icon-circle-down::before {
    content: "\ea43";
}
.icon-circle-left::before {
    content: "\ea44";
}
.icon-tab::before {
    content: "\ea45";
}
.icon-move-up::before {
    content: "\ea46";
}
.icon-move-down::before {
    content: "\ea47";
}
.icon-sort-alpha-asc::before {
    content: "\ea48";
}
.icon-sort-alpha-desc::before {
    content: "\ea49";
}
.icon-sort-numeric-asc::before {
    content: "\ea4a";
}
.icon-sort-numberic-desc::before {
    content: "\ea4b";
}
.icon-sort-amount-asc::before {
    content: "\ea4c";
}
.icon-sort-amount-desc::before {
    content: "\ea4d";
}
.icon-checkbox-checked::before {
    content: "\ea52";
}
.icon-checkbox-unchecked::before {
    content: "\ea53";
}
.icon-radio-checked::before {
    content: "\ea54";
}
.icon-radio-checked2::before {
    content: "\ea55";
}
.icon-ungroup::before {
    content: "\ea59";
}
.icon-table::before {
    content: "\ea70";
}
.icon-table2::before {
    content: "\ea71";
}
.icon-share2::before {
    content: "\ea82";
}
.icon-mail::before {
    content: "\ea83";
}
.icon-mail4::before {
    content: "\ea86";
}
.icon-amazon::before {
    content: "\ea87";
}
.icon-google::before {
    content: "\ea88";
}
.icon-google2::before {
    content: "\ea89";
}
.icon-google3::before {
    content: "\ea8a";
}
.icon-google-plus::before {
    content: "\ea8b";
}
.icon-google-plus2::before {
    content: "\ea8c";
}
.icon-google-plus3::before {
    content: "\ea8d";
}
.icon-hangouts::before {
    content: "\ea8e";
}
.icon-google-drive::before {
    content: "\ea8f";
}
.icon-facebook::before {
    content: "\ea90";
}
.icon-facebook2::before {
    content: "\ea91";
}
.icon-instagram::before {
    content: "\ea92";
}
.icon-whatsapp::before {
    content: "\ea93";
}
.icon-telegram::before {
    content: "\ea95";
}
.icon-twitter::before {
    content: "\ea96";
}
.icon-rss::before {
    content: "\ea9b";
}
.icon-rss2::before {
    content: "\ea9c";
}
.icon-youtube::before {
    content: "\ea9d";
}
.icon-youtube2::before {
    content: "\ea9e";
}
.icon-vimeo::before {
    content: "\eaa0";
}
.icon-vimeo2::before {
    content: "\eaa1";
}
.icon-steam2::before {
    content: "\eaad";
}
.icon-dropbox::before {
    content: "\eaae";
}
.icon-onedrive::before {
    content: "\eaaf";
}
.icon-github::before {
    content: "\eab0";
}
.icon-wordpress::before {
    content: "\eab4";
}
.icon-blogger2::before {
    content: "\eab8";
}
.icon-tumblr::before {
    content: "\eab9";
}
.icon-tumblr2::before {
    content: "\eaba";
}
.icon-tux::before {
    content: "\eabd";
}
.icon-appleinc::before {
    content: "\eabe";
}
.icon-finder::before {
    content: "\eabf";
}
.icon-android::before {
    content: "\eac0";
}
.icon-windows::before {
    content: "\eac1";
}
.icon-windows8::before {
    content: "\eac2";
}
.icon-skype::before {
    content: "\eac5";
}
.icon-reddit::before {
    content: "\eac6";
}
.icon-wikipedia::before {
    content: "\eac8";
}
.icon-linkedin::before {
    content: "\eac9";
}
.icon-linkedin2::before {
    content: "\eaca";
}
.icon-paypal::before {
    content: "\ead8";
}
.icon-chrome::before {
    content: "\ead9";
}
.icon-firefox::before {
    content: "\eada";
}
.icon-IE::before {
    content: "\eadb";
}
.icon-edge::before {
    content: "\eadc";
}
.icon-safari::before {
    content: "\eadd";
}
.icon-opera::before {
    content: "\eade";
}
.icon-file-pdf::before {
    content: "\eadf";
}
.icon-file-openoffice::before {
    content: "\eae0";
}
.icon-file-word::before {
    content: "\eae1";
}
.icon-file-excel::before {
    content: "\eae2";
}
.icon-libreoffice::before {
    content: "\eae3";
}
.icon-html-five::before {
    content: "\eae4";
}
.icon-html-five2::before {
    content: "\eae5";
}